.show{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px 20px;
    padding: 0 38px;

    &__indi{
        overflow-x: hidden;
        margin: 10px 0;
        border-radius:6px;
        background-color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        padding: 23PX 33PX;
        box-shadow: 0 0 12px 3px rgba(204, 204, 204, 0.083);
        button{
            flex: .6;
            padding: 8px 32px;
            height: 100%;
            width: 100%;
            border: none;
            color: white;
            box-shadow: 0 0 22px 5px rgba(204, 204, 204, 0.459);
            font-family: 'Poppins';
            background-color: cyan;
            border-radius: 5px;
            font-weight: 700;
            font-size: 18px;
            transition: all 0.2s ease-in;
            &:hover{
                transform: scale(105%);
                background-color: hsla(252, 65%, 9%, 0.796);
            }
        }
        h5{
            font-size: 16px;
            font-weight: 400;
        }
        .long-link{
            margin: 15px 0 0;
            flex: 4;
        }
        .short-link{
            flex: 3;
            margin: 15px 0;
            color: cyan;
        }
    }
}

@media screen and (min-width:990px) {
    .show{
        margin: 50px 120px;
        &__indi{
            flex-direction: row;
            padding: 10PX 33PX;
            .long-link{
                margin: 15px 0 ;
            }
            button{
                width: auto;
            }
            .short-link{
                text-align: center;
            }
        }
    }
}