.footer{
    padding: 90px 25px 20px ;
    background-color: hsl(260, 8%, 14%);
    margin: 0;
    color: rgba(255, 255, 255, 0.89);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    h3{
        font-size: 24px;
        margin: 0;
    }
    ul{
        list-style: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0;
        li{
            font-size: 22px;
            padding: 7px 0;
            color: rgba(255, 255, 255, 0.604);
        }
    }
    &__logo{
        padding: 10px 20px;
        h1{
            font-size: 2.7rem;
            margin-top: 70px;
        }
    }
    &__features{
        padding: 30px 20px;
    }
    &__resources{
        padding: 30px 20px;
    }
    &__company{
        padding: 30px 20px;
    }
    &__icons{
        padding: 30px 20px;
        display: flex;
        justify-content: space-around;
        img{
            padding: 0 12px;
        }
    }
}

@media screen and (min-width:700px){
    .footer{
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        &__logo{
            h1{
                margin: 0
            }
        }
    }
    
}
@media screen and (min-width:900px){
    .footer{
        text-align: left;
        h3{
            font-size: 22px;
        }
        ul{
            align-items: flex-start;
            li{
                font-size: 18px;
                padding: 3px 0;
            }
        }
        &__logo{
            h1{
                font-size: 2.2rem;
            }
        }
    }
    
}