.url{
    margin: 20px 20px;
    margin-bottom: 50px;
    padding: 38px;
    background-color: hsl(257, 27%, 26%);
    border-radius:2px;
    background-size: cover;
    background-image: url(../../../images/bg-boost-mobile.svg);
    @media screen and (min-width: 1220px) {
        background-image: url(../../../images/bg-boost-desktop.svg);
    }
    &__input{
        & form{
            display: flex;
            flex-direction: column;
            input{
                font-size: 16px;
                border-radius:2px;
                font-weight: 700;
                margin: 10px 0;
                padding: 18px 10px;
                outline: none;
                border: none;
                &::placeholder{
                    color: hsl(257, 7%, 63%);
                }
            }
            button{
                margin: 10px 0;
                padding: 18px 10px;
                border-radius:2px;
                font-weight: 700;
                border: none;
                outline: none;
                font-size: 22px;
                color: rgb(236, 238, 241);
                background-color: hsl(180, 66%, 49%);
                transition: all 0.2s ease-in;
                &:hover{
                    transform: scale(105%);
                    background-color: hsl(180, 66%, 67%);
                }
            }
        }
        .load{
            text-align: center;
            color: white;
            animation-name: example;
            animation-duration: 4s;
            animation-iteration-count: infinite;
        }
    }
}
@keyframes example {
  0%   {color:rgb(69, 71, 72); }
  25%  {color:rgb(216, 216, 167); }
  50%  {color:rgb(126, 126, 207);}
  75%  {color:rgb(173, 233, 173);}
  100% {color:rgb(216, 165, 165); }
}
@media screen and (min-width:990px) {
    .url{
        margin: 50px 120px;
        border-radius: 8px;
        &__input{
            & form{
                display: flex;
                flex-direction: row;
            input{
                flex: 8;
                margin-right: 30px;
                }
                button{
                    flex: 2;
                    padding: 18px 10px;
                }
             }
        }
    
    }
}