.url{
    
    margin: 50px 20px;
    margin-bottom: 100px;
    padding: 38px;
    background-color: hsl(257, 27%, 26%);
    border-radius:16px;
    background-size: cover;
    background-image: url(../../../images/bg-boost-mobile.svg);
    @media screen and (min-width: 1220px) {
        background-image: url(../../../images/bg-boost-desktop.svg);
    }
    &__input{
        & form{
            display: flex;
            flex-direction: column;
            input{
                font-size: 16px;
                border-radius:8px;
                font-weight: 700;
                margin: 10px 0;
                padding: 18px 10px;
                outline: none;
                border: none;
                &::placeholder{
                    color: hsl(257, 7%, 63%);
                }
            }
            button{
                margin: 10px 0;
                padding: 18px 10px;
                border-radius:8px;
                font-weight: 700;
                border: none;
                outline: none;
                font-size: 22px;
                color: rgb(236, 238, 241);
                background-color: hsl(180, 66%, 49%);
            }
        }
    }
}

@media screen and (min-width:990px) {
    .url{
        margin: 50px 120px;
        position: relative;
    top: -120px;
        border-radius: 8px;
        &__input{
            & form{
                display: flex;
            flex-direction: row;
            input{
                    flex: 8;
                    margin-right: 30px;
                }
                button{
                    flex: 2;
                    padding: 18px 10px;
                    
                }
             }
        }
    
    }
}