.container {
  display: flex;
  justify-content: space-between;
  height: 70vh;
  align-items: center;
  .image {
    width: 60%;
    height: 400px;
    order: 2;
  }
  .text {
    width: 50%;
    order: 1;
    h1 {
      font-size: 3.6rem;
      font-weight: 900;
    }
    form {
      width: 100%;
      display: flex;
      align-items: center;
      input {
        width: 100%;
        font-size: 22px;
        padding: 10px 12px;
        border-radius: 6px;
        outline: none;
        border: 1px solid #6446;
      }
      input::placeholder {
        font-size: 16px;
      }
    }
  }
}
