.btn{
    border-radius: 2px;
    border: none;
    outline: none;
    padding: 16px 42px;
    font-size: 20px;
    color: rgb(236, 238, 241);
    background-color: hsl(180, 66%, 49%);
    font-weight: bold;
    transition: all 0.2s ease-in;
    &:hover{
        transform: scale(105%);
        background-color: hsl(180, 66%, 67%);
    }
}